@Html.Partial("header.cshtml")
@Html.Partial("navbar.cshtml")

@{
  if (Model != null)
  {
    <h3>You are currently viewing @Model["brand"].GetName()</h3>
    <hr />
    <img src='/Content/img/@Model["brand"].GetLogo()'>
      <form action='/brands/@Model["brand"].GetId()' method="post">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" name="button">delete this brand</button>
    </form>
    <h4>Currently offered at these fine establishments:</h4>
      <ul>
        @foreach (var store in Model["stores"])
        {
          <li><a href="/stores/@store.GetId()"></a>@store.GetName()</li>
        }
      </ul>
    <form action='/brands/@Model["brand"].GetId()/add_store' method="post">
      <label for="select-store">Add a store:</label>
      <select name="select-store">
        @foreach (var store in @Model["allStores"])
        {
          <option name="select-store" value="@store.GetId()">@store.GetName()</option>
        }
      </select>
      <button type="submit" name="add-store">add store</button>
    </form>
  }

  else
  {
  <h3>No brands to be found</h3>
  }

}

<form action="/brands/delete" method="post">
  <input type="hidden" name="_method" value="DELETE">
 <button type="submit" class="btn btn-danger" name="delete">Delete all brands</button>
</form>

<h4><a href="/brands/new">Add a new brand</a></h4>
<h4><a href="/">Return home</a></h4>
