<h1>Store Brand</h1>
<h3>Currently viewing @Model["store"].GetName()</h3>
<hr />
@if (Model != null)
  {
    <h4>@Model["store"].GetName()</h4>
    <p>Store link: @Model["store"].GetUrl()</p>
    <ul>
    @foreach (var brand in Model["brands"])
    {
      <li><a href="/brands/@brand.GetId()"><img src="/Content/img/@brand.GetLogo()"> </a></li>
    }
    </ul>

  }
  else
  {
    <h3>No stores to be found</h3>
  }
  <form action='/stores/@Model["store"].GetId()/add_brand' method="post">
    <select name="select-brand">
    @foreach (var brand in @Model["allbrands"])
    {
      <option name="select-brand" value="@brand.GetId()">@brand.GetName()</option>
    }
    </select>
    <button type="submit" name="add-brand">add</button>
  </form>

  <form action="/stores/delete" method="post">
    <input type="hidden" name="_method" value="DELETE">
   <button type="submit" name="button">Delete all stores</button>
  </form>

<h4><a href="/stores/new">Add a new store</a></h4>
<h4><a href="/">Cancel and return home</a></h4>
